/*App*/
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F7FAFC;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  width: 200px;
  border-radius: 6px;
}

a {
  text-decoration: none;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4A5568;
  font-family: 'Mukta', sans-serif;
  height: 100%;
}
/*Home*/

.home {
  width: 95%;
  margin: auto;
  min-height: 100%;
}
/*Loader*/

.loader-container {
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loader-container-sm {
  height: 80%;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #F6AD55;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Header*/
.header-container {
  overflow: auto;
  width: 100%;
  background-color: #F6AD55;
}

.header {
  color: #fff;
  width: 95%;
  margin: auto;
}

.header-title {
  font-family: 'Ubuntu Mono', monospace;
}

/*Footer*/

.footer-container {
  width: 100%;
  text-align: center;
  background-color: #F6AD55;
  color: #fff;
  padding: 20px 0 20px 0;
  margin-top: 30px;
  font-weight: 600;
  font-family: 'Ubuntu Mono', monospace;
}

/*Marker InfoBox*/

.info-container {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 180px;
}

/*Filters*/
.filter-container {
  display: flex;
  align-items: center;
  flex-flow: row;
  padding: 20px 0 20px 0;
  position: relative;
}

.filter-select {
  display: flex;
  align-items: center;
  padding: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: fit-content;
  border-radius: 4px;
  margin-right: 20px;
  position: relative;
}

.filter-select:hover {
  cursor: pointer;
}

.filter-icon, .reset {
  color: #F6AD55;
}

.reset {
  color: #F6AD55;
  margin-left: 18px;
}

.reset:hover {
  cursor: pointer;
}

.choice-list {
  position: absolute;
  padding: 8px;
  background-color: #F7FAFC;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 160px;
  top: 0;
  margin-top: 70px;
  z-index: 2000;
}

.choice-item {
  padding: 4px 18px;
  cursor: pointer;
  border-radius: 6px;
}

.choice-item:hover {
  background-color: #F6AD55;
  color: #fff;
  transition-duration: 0.1s;
}

.choice-selected {
  padding: 4px 18px;
  cursor: pointer;
  color: #fff;
  background-color: #F6AD55;
}

/*Error Message*/
.error-container {
  color: #fff;
  background-color: #F6AD55;
  display: flex;
  align-items: center;
  padding: 4px;
  margin-top: 12px;
  border-radius: 4px;
  width: fit-content;
}

.error-icon {
  margin-right: 4px;
}
