/*App*/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4A5568;
  font-family: 'Mukta', sans-serif;
  background-color: #F7FAFC;
}
