/*Medium View Ports*/

@media only screen and (min-width: 600px) {

  .home, .header {
    width: 90%;
  }
}

/*Large View Ports*/
@media only screen and (min-width: 1450px) {

  .home, .header {
    width: 85%;
  }
}

/*Extra Large View Ports*/
@media only screen and (min-width: 1600px) {

  .home, .header {
    width: 75%;
  }
}
